*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:cursive;
}
.full-page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 55, 148);
}
.stu-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
}
.add-but{
    width: 70px;
    margin: 10px;
    padding: 6px;
    background: #48a567;
    border-radius: 10px;
}
.table{
    text-align: left;
    width: 100%;
}
.but{
    display: flex;
    gap: 10px;
    margin: 2px;
}
   .but button{
        background-color: rgb(159, 187, 230);
        border-radius: 4px;
        border: none;
        padding: 3px;
        cursor: pointer;
    }
    .but button:hover{
        padding: 5px;
        transition: all 100ms ease-in;
        background-color: rgb(110, 156, 224);
    }
    .dlt{
        background-color: rgb(209, 43, 43);
    }

.hr{
    margin-top: 10px;
    height: 2px;
    background-color: black;
    width: 200%;
}
form{
    width: 40%;
    background-color: #ffffff;
    label{
        margin: 2px;
    }
    input{
        margin: 4px;
        width: 90%;
    }
}